body {
	background-color: rgb(0, 195, 255);
}
p {
	color: rgb(0, 0, 0);
}

.wrapper{
width: 90%;
margin: 0 auto;
display: grid;
grid-template-rows: 80px 50px auto 50px;
grid-template-areas:
"header"
"nav"
"main"
"footer";
}

header{
	grid-area: header;
	background-color: rgba(0, 81, 255, 0.829);
	
}

nav{
	grid-area: nav;
	background-color: aquamarine;
	
}

nav > ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

nav li{
	list-style-type: none;
	text-align: center;
	display: grid;

}

main{
	grid-area: main;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto;
	background-color: azure;
}

footer{
	grid-area: footer;
	background-color: bisque;
}

h1 {
	text-align: center;
	font-size: 22px;
	font-family: arial;
}
.jag {
	border-style: solid;
}

h2 {
	text-align: center;
}

.program {
	color: rgb(255, 251, 0);
	text-align: center;
	background-color: rgba(9, 83, 245, 0.87);
}

.tankar {
	text-align: right;
}

.altp {
	text-align: center;
}
.bild {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	height: 250px;

}
